* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    height: 500vh;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
}

header i{
    font-size: #fff;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin:0 40px;
}

header ul li a{
    color: #fff;
    text-decoration: none;
}

.banner{
    height: 100vh;
    background-image: url(banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    font-size: 4em;

}

.banner h1 span{
    color: #3e3245;
}

.container p{
    margin: 0;
    
}